<footer id="footer">

    <ul id="footerul">
        <li id="footerli">
            <a id="footer-a" href="#">Takip et!</a>
        </li>

        <li id="footerli">
            <a href="#">Arama</a>
        </li>

        <li id="footerli">
            <a href="@Url.Action("Contact","Home")">İletişim</a>
        </li>

        <li id="footerli">
            <a href="@Url.Action("About","Home")>Künye</a>
        </li>
    </ul>
</footer>
